<?xml version="1.0"?>
<config>
    <modules>
        <Ikonoshirt_StrictTransportSecurity>
            <version>0.1.0</version>
        </Ikonoshirt_StrictTransportSecurity>
    </modules>
    <global>
        <models>
            <ikonoshirt_stricttransportsecurity>
                <class>Ikonoshirt_StrictTransportSecurity_Model</class>
            </ikonoshirt_stricttransportsecurity>
        </models>
        <helpers>
            <ikonoshirt_stricttransportsecurity>
                <class>Ikonoshirt_StrictTransportSecurity_Helper</class>
            </ikonoshirt_stricttransportsecurity>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ikonoshirt_stricttransportsecurity>
                        <type>singleton</type>
                        <class>Ikonoshirt_StrictTransportSecurity_Model_Observer</class>
                        <method>controllerActionPredispatch</method>
                    </ikonoshirt_stricttransportsecurity>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <default>
        <ikonoshirt>
            <strictTransportSecurity>
                <is_on>1</is_on>
                <max_age>31536000</max_age>
                <include_subdomains>0</include_subdomains>
            </strictTransportSecurity>
        </ikonoshirt>
    </default>
</config>